################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/StudentsManagement/v17
/.vs
