################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
SM.exe
*.opendb
/.vs/StudentsManagement/v17
/.vs
SM
